

#navbarWrap,
#navbar {
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#navbar > li {
    float: left;
    width: 20%;
    position: relative;
}

#navbar > li.right {
    float: right;
}

#navbar >  li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}

#navbar >  li a.active {
    background: green;
}

#navbar >  li a:hover:not(#navbar li a.active) {
    background: #111;
}

#navbar >  li ul.depth2 {
    display: none;
    box-sizing:border-box; 
    width:100%;  
    z-index: 1500;
    background: rgba(0, 128, 0, 0.8);
    position: absolute;
    left: 0;
    top: 52px;
}

#navbar >  li > ul.depth2 li a {
    display:block; 
    width:100%; 
    line-height:30px;
    text-align: left; 
    font-size:1.4rem; 
    font-weight:500; 
    letter-spacing:0;
    box-sizing: border-box;
}

main { 
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
    height: calc(100vh - 60px);
    padding: 80px 40px 40px;
    box-sizing: border-box;
}

main > * {
    width: 100%;
}

main > .fit-div > div {
    height: fit-content !important;
}

.clear:after { clear: both; content: ''; display: block;}

/***** 테이블 *****/

.tbl-area .tbl-wrap + .tbl-wrap { margin-top: 40px; }

.tbl-area .tit-box h3 { font-size: 1.8rem;  font-weight: 700;  color: #15136e;  letter-spacing: -0.5px; line-height: 1; }
.tbl-area .tit-box .total-info{ line-height: 1; }
.tbl-area .tit-box .total-info > strong{font-size: 2.4rem; font-weight:800; color: #15126e;}
.tbl-area .tit-box .total-info > em{font-weight: 400;}
.tbl-area .tit-box .total-info > span{font-weight: 800; color: #999;}
.tbl-area .tit-box .total-info > span > i{font-style: normal; color: #222;}

.tbl-area .tit-box2 {display: flex; align-items: flex-end; justify-content: space-between;}
.tbl-area .tit-box2 .btn { display: inline-block; margin-bottom: 0; text-align: center; vertical-align: middle;  cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; border-radius: 4px;  -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none;  user-select: none;  font-size: 15px;  font-weight: 400; padding: 3px 8px; background-color: #072553; color: #fff;  width: 122px; line-height: 35px; }

.tbl-area .tbl-box { border: 1px solid #b8b8b8; box-sizing: border-box; border-radius: 5px; margin-top: 10px; }
.tbl-area .tbl-box table thead th {padding: 0 20px; box-sizing: border-box; height: 60px; font-size: 1.4rem; font-weight: 800; text-align: center; border-left: 1px solid #e8e8e8; background-color: #f9f9f9; position: relative;}
.tbl-area .tbl-box table thead th:first-child{border-left: 0; border-radius: 5px 0 0 5px;}
.tbl-area .tbl-box table thead th:last-child{border-radius: 0 5px 5px 0;}
.tbl-area .tbl-box table tbody td, .tbl-area .tbl-box table tfoot td{ padding: 10px 20px; box-sizing: border-box; height: 60px; font-size: 1.4rem;  font-weight: 500; color: #444;  letter-spacing: -0.5px;  text-align: center;  border-left: 1px solid #e8e8e8;   border-top: 1px solid #e8e8e8; position: relative; }
.tbl-area .tbl-box table tbody td:first-child, .tbl-area .tbl-box table tfoot td:first-child{border-left: 0;}

.tbl-area .tbl-box.tbl-type2 table tbody th{padding: 0 20px; box-sizing: border-box; font-weight: 800; text-align: left; background-color: #f9f9f9; border-top: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; position: relative;}
.tbl-area .tbl-box.tbl-type2 table tbody th.chk_th{padding-left: 50px;}
.tbl-area .tbl-box.tbl-type2 table tbody th.chk_th .check_box{left: 20px; transform: translate(0, -50%);}
.tbl-area .tbl-box.tbl-type2 table tbody th:first-child{border-left: 0;}
.tbl-area .tbl-box.tbl-type2 table tbody td{text-align: left; border-left: 0;}
.tbl-area .tbl-box.tbl-type2 table tbody tr:first-child th, 
.tbl-area .tbl-box.tbl-type2 table tbody tr:first-child td{border-top: 0;}
.tbl-area .tbl-box.tbl-type2 table tr:first-child td:last-child{border-radius: 0 5px 0 0;}
.tbl-area .tbl-box.tbl-type2 table tr:last-child th:first-child{border-radius: 0 0 0 5px;}
.tbl-area .tbl-box.tbl-type2 table tr:last-child td:last-child{border-radius: 0 0 5px 0;}
.tbl-area .tbl-box.tbl-type2 table tr:first-child th:first-child, 
.tbl-area .tbl-box.tbl-type2 table tr:first-child th.bd_fir{border-radius: 5px 0 0 5px;}
.tbl-area .tbl-box.tbl-type2 table .content{height: 150px; padding: 20px !important; vertical-align: middle;}
.tbl-area .tbl-box.tbl-type2 table .content div{max-height: 290px; overflow-y: auto; line-height: 1.4;}
.tbl-area .tbl-box.tbl-type2 table .select_drop{height: 40px; line-height: 38px;}

.tbl-area .tbl-box table tbody td.sub-tbl-area { padding: 0 !important; }
.tbl-area .tbl-box table tbody td.sub-tbl-area .sub-tbl-box { margin: 0; border: none;}

.tbl-area .tbl-box table tbody td.sub-tbl-area .sub-tbl-box table th { border-bottom: 1px solid #e8e8e8; }
.tbl-area .tbl-box table tbody td.sub-tbl-area .sub-tbl-box table th,
.tbl-area .tbl-box table tbody td.sub-tbl-area .sub-tbl-box table td { text-align: center;  border-left: 1px solid #e8e8e8; }
.tbl-area .tbl-box table tbody td.sub-tbl-area .sub-tbl-box table td { border-top: 1px solid #e8e8e8; }
.tbl-area .tbl-box table tbody td.sub-tbl-area .sub-tbl-box table tr:first-child td { border-top: none;}
.tbl-area .tbl-box table tr + tr td.sub-tbl-area .tbl-box table thead tr th:first-child {  /*border-top: 1px solid #e8e8e8;*/ border-top: none; }
.sub-tbl-area > .tbl-box { margin-top: 0 !important;}

.tbl-area .tbl-box table .check-box{width: 20px; height: 20px; position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%); display: inline-block;}
.tbl-area .tbl-box table .check-box label{padding-left: 0; font-size: 0; }
.tbl-area .tbl-box table .check-box label::before{position:static; margin-top: 0;}
.tbl-area .tbl-box table .radio-box{width: 20px; height: 20px; position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%); display: inline-block;}
.tbl-area .tbl-box table .radio-box label{padding-left: 0; font-size: 0; }
.tbl-area .tbl-box table .radio-box label::before{position:static; margin-top: 0;}

.tbl-area .tbl-box table .state span {font-weight: 800;}
.tbl-area .tbl-box table .state .wait{color: #7cae12;}
.tbl-area .tbl-box table .state .done{color: red;}
.tbl-area .tbl-box table .state .ing{color: #15136e;}

.tbl-area .tbl-box table .t-noti { height:25px; width:50px;  text-align: center;  font-style: initial;  background:#e30000; border-radius:3px; display: block; line-height: 25px; vertical-align: middle; margin:0 auto; color: #fff; font-size: 11px; letter-spacing: -0.5px;}

.tbl-area .tbl-box table .new .t-icon {box-sizing: border-box; position: relative; }
.tbl-area .tbl-box table .new .t-icon::before{content: ''; display: block; clear: both; width: 18px; height: 18px; position: absolute; top: 50%; margin-top: -9px; background-image: url('/component/img/ico_new.png'); background-repeat: no-repeat; background-position: 50% 50%;}
.tbl-area .tbl-box table .new.left .t-icon {padding-left: 23px; }
.tbl-area .tbl-box table .new.left .t-icon::before{ left: 0; }
.tbl-area .tbl-box table .new.right .t-icon { width: fit-content; padding-right: 23px ;}
.tbl-area .tbl-box table .new.right .t-icon::before{ right: 0; }

.tbl-box.scroll-x {  overflow-x: auto; }
.tbl-box.scroll-y { overflow-x: hidden; overflow-y: auto; height: 280px; }
.tbl-box.scroll-y.auto { height: auto; max-height: 280px ;}
.tbl-box.scroll-y table thead th { position: sticky;  top: 0;  z-index: 10; border-bottom: 1px solid #e3e3e3;}
.scroll-x, .scroll-y { scrollbar-face-color: #8a8a8a; scrollbar-track-color: #fff; scrollbar-arrow-color: none; scrollbar-highlight-color: #8a8a8a; scrollbar-3dlight-color: none; scrollbar-shadow-color: #8a8a8a; scrollbar-darkshadow-color: none;}
.scroll-x::-webkit-scrollbar {width: 5px; height: 8px;}
.scroll-y::-webkit-scrollbar {width: 8px; height: 3px;}
.scroll-x::-webkit-scrollbar-track , .scroll-y::-webkit-scrollbar-track {background: #dadada; border-radius: 3px;}
.scroll-x::-webkit-scrollbar-thumb, .scroll-y::-webkit-scrollbar-thumb {background: #1ea292; border-radius: 3px;}

.tbl-tit-mo { display: none; text-align: left; }


.tbl-area .tbl-box table .chk-list { position: relative;}
.tbl-area .tbl-box table .chk-list > div{float: left; margin-left: 25px;}
.tbl-area .tbl-box table .chk-list > div:first-child{margin-left: 0;}
.tbl-area .tbl-box table .chk-list .check-box{width: auto; height: auto; position: static; transform:translate(0, 0);}
.tbl-area .tbl-box table .chk-list .check-box label{padding-left: 25px; font-size: 1.4rem; }
.tbl-area .tbl-box table .chk-list .check-box label::before{position:absolute; margin-top: -10px;}
.tbl-area .tbl-box table .chk-list .radio-box{width: auto; height: auto; position: static; transform:translate(0, 0);}
.tbl-area .tbl-box table .chk-list .radio-box label{padding-left: 25px; font-size: 1.4rem; line-height: 22px;}
.tbl-area .tbl-box table .chk-list .radio-box label::before{position:absolute; margin-top: -10px;}

.tbl-area .tbl-box table .radio-wrap .radio-box { float: left;}
.tbl-area .tbl-box table .radio-wrap .select-box { float: left; margin-left: 5px;}

.tbl-area .tbl-box table .select-list { margin-left: -10px; }
.tbl-area .tbl-box table .select-list > * {float: left; margin-left: 10px;}
.tbl-area .tbl-box table .select-list > .ab { position: relative; padding-left: 30px; }
.tbl-area .tbl-box table .select-list > .ab > span { position: absolute; left: 0; top: 50%; transform:translateY(-50%) ;  -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%);}


table tbody td ul.result_body { text-align: left;}
table tbody td ul.result_body li { display: block;   line-height: 1.6; position: relative; }
table tbody td ul.result_body li + li { margin-top: 5px; }
table tbody td ul.result_body.fl li { display: inline-block;   margin-right: 10px; margin-top: 0px;  }
table tbody td ul.result_body.fl li + li::before { content: '/'; display: block; clear: both; position: absolute; top: 50%; transform:translateY(-50%) ;  -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); margin-left: -7px; }
table tbody td ul.result_body li .order_btn.del { margin-left: 5px; display: inline-block; width: 24px; height: 24px; border: 1px solid #000; text-align: center; border-radius: 50%; line-height: 24px; }

.tbl-area .tbl-box table .tbl-more { display: inline-block; width: 30px; height:30px; line-height: 30px; text-align: center; border-radius: 50%; background: #f2ece5 url('/img/ico_more.svg') no-repeat center / 8px; border: 1px solid #d5c7b8; float: right; }
.tbl-area .tbl-box table .tbl-more.on {  background: #d7c4ae url('/img/ico_more_b.svg') no-repeat center / 8px; }

.tbl-area .tbl-box table .btnSet2{ display: inline-block;}
.tbl-area .tbl-box table .btnSet2 .btn { display: inline-block;  margin-bottom: 0;  text-align: center; vertical-align: middle;  cursor: pointer;  background-image: none;  border: 1px solid transparent; white-space: nowrap;  -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none;  user-select: none; width: 105px; min-width: 105px; height: 40px; line-height: 40px;  border-radius: 5px; background-color: #aa824e; color: #fff; font-weight: 700; font-size: 14px; }
.tbl-area .tbl-box table .btnSet2 .btn + .btn { margin-left: 3px;}
.tbl-area .tbl-box table .btnSet2.right { float: right;}

.toggle-tr { display: none;}
.toggle-tr.on {display: table-row; }

/**** nice-select ****/
.select-drop { float: none;  margin: 0px;height: 40px !important; min-width: 180px !important;max-width: 100%;font-weight: 500 !important;color: #000000 !important;padding: 0 15px;background-color: #fff !important;border: 1px solid #e8e8e8 !important;}
.select-drop .list {width : 100%; /*max-height: 395px; overflow-y: auto;*/}
.select-drop.open {  border: 1px solid #1ea292 !important;   box-shadow: 5px 5px 10x 0px rgba(18, 75, 68, 0.3);}
.select-drop .option:hover, 
.select-drop .option.focus, 
.select-drop .option.selected.focus {  background-color: #edf8f6;  color: #1ea292;}
.select-drop.slide .list {opacity: 1;top: 40px;-webkit-transform: scale(1) translateY(0px);-ms-transform: scale(1) translateY(0px);transform: scale(1) translateY(0px);display: none;-webkit-transition: none; transition: none;}


/***** radio_box *****/

.radio-box{ position:relative;}
.radio-box > input[type="radio"]{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden;}
.radio-box > input[type="radio"] ~ label{padding-left:26px; box-sizing:border-box; position:relative; font-size:1.4rem; font-weight:700; color:#222; cursor:pointer;}
.radio-box > input[type="radio"]:checked ~ label{color:#244177;}
.radio-box > input[type="radio"] ~ label:before{display:block; content:''; clear:both; width:20px; height:20px; border-radius:10px; border:1px solid #ccc; padding:4px; box-sizing:border-box; background-color:#fff; position:absolute; top:50%; margin-top:-10px; left:0; z-index:0;}
.radio-box > input[type="radio"]:checked ~ label:after{display:block; content:''; clear:both; width:10px; height:10px; border-radius:5px; background:#244177; position:absolute; top:50%; margin-top:-5px; left:5px; z-index:5;}

/***** check_box *****/
.check-box{ position:relative;}
.check-box > input[type="checkbox"]{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden;}
.check-box > input[type="checkbox"] ~ label{padding-left:26px; box-sizing:border-box; position:relative; font-size:1.4rem; font-weight:700; color:#222; cursor:pointer;}
.check-box > input[type="checkbox"]:checked ~ label{color:#244177;}
.check-box > input[type="checkbox"] ~ label:before{display:block; content:''; clear:both; width:20px; height:20px; border-radius:3px; border:1px solid #ccc; box-sizing:border-box; background-color:#fff; position:absolute; top:50%; margin-top:-10px; left:0; z-index:0;}
.check-box > input[type="checkbox"]:checked ~ label:before{background-image:url('/img/ico_chk_blu.svg'); background-size:12px 9px; background-repeat:no-repeat; background-position:center;}

.check-list .check-box { position:relative !important; left:0 !important; top: 0 !important; transform: translate(0, 0) !important;  float: left !important; margin-left: 25px !important;  width: fit-content !important;  height: auto !important;}
.check-box.non-position { position:relative !important; left:0 !important; top: 0 !important; transform: translate(0, 0) !important; float: left !important; width: fit-content !important;  height: auto !important; }
.check-list .check-box:first-child, .check-box:first-child.non-position{margin-left: 0 !important;}
.check-list .check-box label, .check-box.non-position label {  padding-left: 26px !important; font-size: 1.4rem !important; }
.check-list .check-box > input[type="checkbox"] ~ label:before,
.check-box.non-position > input[type="checkbox"] ~ label:before { position: absolute !important; top: 0 !important; margin-top: 0 !important; }
.f-name { margin-right: 5px;}

/***** btns *****/
.btns{font-size:1.5rem; padding:0 10px; box-sizing: border-box; height:40px; line-height:40px; color:#fff !important; text-align:center; font-weight:700; text-decoration:none; white-space:nowrap; display:inline-block; vertical-align:baseline; cursor:pointer; text-align:center; border-radius: 5px; background-color: #333333;}
.btns.gr{background-color: #444949;}
.btns.bl{background-color: #15136e;}
.btns.right {float:right;}
.btnSet {    text-align: center;
}
.btnSet .btn {
    margin-left: 5px;
    font-size: 1.5rem;
    padding: 0 10px;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    min-width: 150px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #444949;
    display: inline-block;
    margin: 0 auto;
}
.tbl-wrap table td .btns {    margin: 0 auto;}
.tbl-wrap table td .btns.min-w {  width: 124px;}
.tbl-wrap table td .txt + .btns, 
.tbl-wrap table td .result_body ~ .btns { margin-top: 5px;}

.sub_tit{position:relative; padding:65px 0 10px; border-bottom:1px solid #b8b8b8;}
.sub_tit:after{content:""; display:block; clear:both;}
.sub_tit h2{float:left; font-size:3rem; font-weight:700; line-height:1.3;}
.sBtnWrap{float:right;}
.sBtnWrap:after{content:""; display:block; clear:both;}
.sBtnWrap .sBtn{position:relative; float:left; margin-left:10px;}
/* .sBtn input{border:1px solid #333; color:#191919; background:#fff; padding:0 12px; height:32px; font-size:15px; box-sizing:border-box; transition:all 0.2s;}
.sBtn input:hover{background-color:#333; color:#fff; box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.15);} */
.sBtn.reset .material-icons{position:absolute; left:9px; top:50%; margin-top:-9px; font-size:18px;}
.sBtn.reset:hover .material-icons{color:#fff;}
.sBtn.reset:hover .material-icons + input{background-color:#333; color:#fff;}
.sBtn.reset input{padding-left:29px;}

.tbl_area + .searchWrap { margin-top: 30px;} 


.searchWrap{border:1px solid #e8e8e8; box-sizing:border-box; border-radius: 5px;}
.searchWrap .searchTable{min-height:60px; font-size:0;}
.searchWrap .searchTable th{font-size:1.4rem; font-weight:800; padding-left:17px; padding-right:10px; text-align:left; background:#e8e8e8; border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8;}
.searchWrap .searchTable th:first-child{border-left: 0;}
.searchWrap .searchTable td{padding: 5px; box-sizing: border-box;}
.searchWrap .searchTable td.cat { padding:11px 10px; }  /**/
.searchWrap .searchTable tr{border-top:1px solid #e3e3e3;}
.searchWrap .searchTable tr:first-of-type{border-top:none;}
.searchWrap .searchTable label{padding:0 10px 0 5px;}
.searchWrap .searchTable .select_drop{width: 100%; margin: 0; height: 50px; border-radius: 5px; border: 1px solid #e8e8e8; line-height: 48px;}
.searchWrap .searchTable .nice-select .list{border-color: #e8e8e8; width: 100%;
    z-index: 11;}

.searchWrap .searchTable .regist_date{position: relative; padding-right: 276px; box-sizing: border-box;}
.searchWrap .searchTable .calendar_wrap{width: 100%;}

.searchWrap tbody {display:table-row-group !important;}
.searchWrap tbody tr {display:table-row !important;}
.searchWrap tbody th, .searchWrap tbody td {display:table-cell !important; float:none !important;}

/***** popup *****/
.popup{display: none; position: fixed; left: 0; top: 0; z-index:1000; width: 100%; height: 100%; /*background-color: rgba(0, 0, 0, 0.8);*/}
.popup .pop_wrap{display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;}
.popup .size{width: 100%; max-width: 905px; margin: 0 auto;}
.popup .size.big { max-width: 1024px;  }
.popup .size.small { max-width: 500px;  }
.popup .size.small2 { max-width: 600px;  }
.popup .size.small3 { max-width: 700px;  }
.popup .pop_inner{background-color: #fff; padding: 50px 40px 50px; box-sizing: border-box;border-radius: 0 0 20px 20px;  position: relative; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); border-top: 2px solid #aa824e;}
.popup .pop_inner .pop_close{display: block; width: 50px; height: 50px; position: absolute; right: -50px; top: -2px; border-radius: 0 5px 5px 0; background-color: #aa824e; background-image: url('/assets/images/admin_images/ico_close.svg'); background-size: 16px 16px;}
.popup .sub_tit{padding-top: 0;}
.popup .sub_tit h2{float: none; font-size: 2.4rem; line-height: 1;}
.popup .pop_cont{margin-top: 20px;}
.popup .pop_cont .select_drop{width: 100%; margin: 0; height: 45px; line-height: 45px; color: #000; border-radius: 5px; border: 1px solid #e8e8e8;}

.popup .searchWrap{ box-sizing: border-box; background-color: #f9f9f9;}
.popup .searchWrap .searchTable { min-height: 50px;}
.popup .searchWrap .select_drop{width: 169px;}
.popup .searchWrap .srch_word{position: relative;}
.popup .searchWrap .srch_word input[type="text"]{float: left; box-sizing: border-box; padding:0 20px; margin: 0; width: 100%; height:100%; min-height:45px; border: 1px solid #e8e8e8; border-radius: 5px;}
.popup .searchWrap .srch_word .select_drop + input[type="text"] { width: calc(100% - 174px);  margin-left: 5px;}
.popup .searchWrap .srch_word input[type="text"]::placeholder{color: #999;}
.popup .searchWrap .srch_word input[type="submit"]{width: 45px; height: 45px; line-height: 45px; border-radius: 0 5px 5px 0; }
.popup .searchWrap .srch_word a.btn_search{display: block; width: 95px; height: 45px; line-height: 450px;}
.popup h3.sTit{font-size: 1.6rem;}
.popup h4.sTit{font-size: 1.4rem; font-weight: 600;  color: #222;}
.popup h4.sTit > strong { font-size: 2.4rem;  font-weight: 800;  color: #15126e; }
.popup .tbl-area{margin-top: 20px;}
.popup .tbl-area > div{margin-top: 40px;}
.popup .tbl-area > div:first-child{margin-top: 0;}
.popup .tbl-area .tbl-box{margin-top: 10px;}
.popup .tbl-area .tbl-box table thead th, .popup .tbl-area .tbl-box table tbody td, .popup .tbl-area .tbl-box table tbody th{padding: 5px 15px; height: 55px; font-size: 1.3rem;}
.popup .tbl-area .tbl-box table tbody td .btns:not(.popup .tbl-area .tbl-box table tbody td label.btns, .addr .addr1 .btns){height: 30px; line-height: 30px; font-size: 1.4rem; font-weight: 500; }
.popup .tbl-area .tbl-box table tbody td .sel_btn.off { opacity: 0.5 !important; }
.popup .tbl-area .tbl-box table tbody td textarea { border: 1px solid #ccc; resize: none;  padding: 8px;  font-size: 1.4rem; font-weight: 500; color: #444; border-radius: 3px; letter-spacing: -0.3px;}

.popup .tbl-area .tbl-box table td input[type="text"],
.popup .tbl-area .tbl-box table td input[type="password"],
.popup .tbl-area .tbl-box table td input[type="number"] {height:40px; /*padding:0 8px;*/ font-size: 1.4rem; font-weight: 500; color: #444; border-radius: 3px; border: 1px solid #ccc; letter-spacing: -0.3px;}
.popup .tbl-area .tbl-box table td input[type="text"]::placeholder,
.popup .tbl-area .tbl-box table td input[type="password"]::placeholder{opacity:0.5;}

.popup .tbl-area .tbl-box table .ipt-half span, 
.popup .tbl-area .tbl-box table .ipt-half span{display: block; float: left; width: 20px; height: 40px; text-align: center; line-height: 40px;}
.popup .tbl-area .tbl-box table .ipt-half input[type="text"], 
.popup .tbl-area .tbl-box table .ipt-half input[type="text"]{width: calc(46.5% - 10px); width: -webkit-calc(46.5% - 10px); float: left;}
.popup .tbl-area .tbl-box table .pop_position .ipt-half > div{float: left; margin-left: 15px;}
.popup .tbl-area .tbl-box table .pop_position .ipt-half > div:first-child{margin-left: 0;}
.popup .tbl-area .tbl-box table .pop_position .ipt-half span{float: none; display: inline-block; width: auto;}
.popup .tbl-area .tbl-box table .pop_position .ipt-half input[type="text"]{margin-left: 5px; float: none; width: 100%; vertical-align: middle;}
.popup .tbl-area .tbl-box table .email-box{width: calc(100% + 10px); width: -webkit-calc(100% + 10px); margin-left: -10px;}
.popup .tbl-area .tbl-box table .email-box > div{float: left; margin-left: 10px;}
.popup .tbl-area .tbl-box table .email-box .ipt-half{width: calc(65% - 10px); width: -webkit-calc(65% - 10px);}
.popup .tbl-area .tbl-box table .email-box .sel-box{width: calc(35% - 10px); width: -webkit-calc(35% - 10px);}

.popup .tbl-area .tbl-box table .email-box2 .sel-box{padding-right: 90px; box-sizing: border-box; position: relative;}
.popup .tbl-area .tbl-box table .email-box2 .sel-box .btns{position: absolute; right: 0; top: 0; width: 84px;}

.small_modal{display: block;}
.small_modal .size{max-width: 480px;}
.small_modal .pop_inner{padding: 35px;}
.small_modal .pop_cont{margin-top: 0; text-align: center;}
.small_modal .txt_box p{font-size: 1.8rem; text-align: center;}
.small_modal .btnSet{margin-top: 30px;}


#search_pop table thead tr th, #search_pop table tbody tr th, #search_pop table tbody tr td { text-align: center;  height: 40px;   line-height: 40px;}  
#search_pop .choice_btn {display: inline-block;  padding: 0 10px;  box-sizing: border-box;  width: 50px;  line-height: 30px;  font-size: 1.4rem;  font-weight: 600;  font-variation-settings: 'wght' 600; color: #fff;  letter-spacing: 0.5px;  background-color: #0b43b5; border-radius: 5px;  position: relative;}
#search_pop .del_btn { display: inline-block;  padding: 0 10px;  box-sizing: border-box;  width: auto; margin-left: 5px; line-height: 30px;  font-size: 1.4rem;  font-weight: 600;  font-variation-settings: 'wght' 600; color: #fff;  letter-spacing: 0.5px;  background-color: #8b8b8b; border-radius: 5px;  position: relative; }
#search_pop table tr { border-bottom: none;}
#search_pop table tr + tr { border-top: 1px solid #e6eaed;}


th.th-group + th.th-group, td.td-group + td.td-group { border-left: 1px solid #000;}
.th-total, .td-total, tfoot tr th, tfoot tr td { background-color: #b1bbc2 !important;  color: #fff !important;}
tfoot tr th:first-child { border-left: none !important;}
.th-total { border-radius: 0 !important;}
table thead tr.tr-head th:last-child { border-radius: 0 5px 0px 0 !important;}
.scroll-y2 table thead tr.tr-head th { border-bottom : none }
table thead tr.tr-head + tr th { border-top : none !important; }
table thead tr.tr-head + tr th::after { content: ''; display: block; position: absolute;  top: 0;  left: 0;  width: 100%;  height: 1px;  background-color: #e8e8e8;}


table tbody td .order_btn { display: inline-block; width: 24px; height: 24px;  line-height: 34px;  }
table tbody td .order_btn + .order_btn { margin-left: 4px;}
table tbody td .order_btn.up { background: url(/assets/images/admin_images/ico_order_up.svg) no-repeat center / cover; } 
table tbody td .order_btn.down { background: url(/assets/images/admin_images/ico_order_down.svg) no-repeat center / cover;}
table tbody td .order_btn.del { background: url(/assets/images/admin_images/ico_order_del.svg) no-repeat center / cover;}

table tbody td ul.result_body { text-align: left;}
table tbody td ul.result_body li { display: block;   line-height: 1.6; position: relative; }
table tbody td ul.result_body li + li { margin-top: 5px; }
table tbody td ul.result_body.fl li { display: inline-block;   margin-right: 10px; margin-top: 0px;  }
table tbody td ul.result_body.fl li + li::before { content: '/'; display: block; clear: both; position: absolute; top: 50%; transform:translateY(-50%) ;  -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); margin-left: -7px; }
table tbody td ul.result_body li .order_btn.del { margin-left: 5px;}
.popup .tbl-area .tbl-box table tbody tr:last-child td { border-bottom: 1px solid #e8e8e8;  }

.popup  .tbl-area .tbl-box table tbody td .t_eli{height: 15px;}

.popup .tbl-area .tbl-box.scroll-y { overflow-x: hidden;  overflow-y: auto;  height: 220px; }
.popup .tbl-area .tbl-box.scroll-y table thead th { position: sticky;  top: 0; z-index: 10;  border-bottom: 1px solid #e3e3e3;}



.tbl-wrap table td input[type="text"],
.tbl-wrap table td input[type="password"],
.tbl-wrap table td input[type="number"] {height:40px; /*padding:0 8px;*/ font-size: 1.4rem; font-weight: 500; color: #444; border-radius: 3px; border: 1px solid #ccc; letter-spacing: -0.3px;}
.tbl-wrap table td input[type="text"]::placeholder,
.tbl-wrap table td input[type="password"]::placeholder{opacity:0.5;}
.tbl-wrap table td select{height:40px;}
.tbl-wrap table td textarea{width: 99%; border:1px solid #ccc; resize: none; padding: 8px; font-size: 1.4rem; font-weight: 500; color: #444; border-radius: 3px; letter-spacing: -0.3px; }



.fileCheck{display: block; width: 100%; position: relative; padding-left: 80px; box-sizing: border-box;}
.fileCheck + .fileCheck { margin-top: 10px;}
.fileCheck input[type="file"]{width: 1px; height: 1px; position: absolute; left: -9999px; top: 0; opacity: 0; visibility: hidden; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0);}
.fileCheck .file_btn{width: 75px; position:absolute; left: 0; top: 0;  }
.fileCheck .ipt_box input { width: 100%;}
.file_del{margin-top: 10px;}
.file_del > div{display: inline-block; vertical-align: middle;}
.file_del .chk_list{margin-left: 10px;}

.btnSet {margin-top:12px; text-align: center;}
.btnSet .left {float:left;}
.btnSet .right {float:right;}

.max90 {max-width:90px;}
.max100 {max-width:100px;}
.max150 {max-width:150px;}
.max180 {max-width:180px;}
.max200 {max-width:200px;}
.max220 {max-width:220px;}
.max250 {max-width:250px;}
.max276 {max-width:276px;}
.max283 {max-width:283px;}
.max300 {max-width:300px;}
.max350 {max-width:350px;}
.max370 {max-width:370px;}
.max400 {max-width:400px;}
.max450 {max-width:450px;}
.max460 {max-width:460px;}
.max500 {max-width:500px;}
.max550 {max-width:550px;}
.max600 {max-width:600px;}
.max650 {max-width:650px;}
.max700 {max-width:700px;}
.max750 {max-width:750px;}
.max800 {max-width:800px;}
.max850 {max-width:850px;}
.max900 {max-width:900px;}
.max950 {max-width:950px;}
.max1000 {max-width:1000px;}
.min100p {min-width:100% !important;}

.mt0{margin-top: 0 !important;}


.add_txt { margin-top: 5px; }
.txt-l { text-align: left !important;}

.required { color: #F00004;  font-weight: 400; font-size: 1.8rem !important;  display: inline-block !important;  width: 10px;  height: 30px;  line-height: 32px;  vertical-align: middle;}
.required > span {  width: 0;  height: 0;  visibility: hidden;  opacity: 0;  filter: alpha(opacity=0);  -ms-filter: alpha(opactiy=0);}
